@import '@/assets/scss/components/import/empty.scss';
@import '@/assets/scss/components/import/division-info.scss';

.top {
  padding-top: 24px;
}

.only-body {
  padding-bottom: 40px;
}

.contents {
  padding-top: 16px;
}

.block {
  position: relative;
}

.button {
  @include reset-button;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
