@import '@/assets/scss/components/import/basic-table.scss';
@import '@/assets/scss/components/import/not-table.scss';

.text-button {
  margin-top: 2px;
}

.estate-setting-info {
  margin-top: 24px;
  padding: 40px 0;
}
