.popup {
  width: 400px;
  border-radius: 20px;
  background-color: $color-white;
  text-align: center;

  &__head {
    padding: 30px 20px 16px;
  }

  &__body {
    padding: 8px 16px 32px;

    &::before,
    &::after {
      content: '';
      display: table;
      clear: both;
    }

    &:first-child {
      padding-top: 40px;
    }
  }

  &__foot {
    flex: none;
    padding: 0 30px 30px;
  }

  &__title {
    margin: 0;
    @include font-size-default(24);
    font-weight: 700;
  }

  &__text {
    margin: 0;
    @include font-size-default(16);

    & + & {
      margin-top: 8px;
    }
  }
}
