@import '@/assets/scss/components/import/product-list.scss';
@import '@/assets/scss/components/import/basic-list.scss';

.bg {
  background-color: $color-gray-15;
  padding: 80px 0px;
  box-sizing: border-box;
}

.flex-basic-wrap {
  &::before {
    content: '';
    display: table;
  }

  .flex-basic-list {
    margin: -60px 0 0 -60px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;

    .flex-basic-item {
      padding: 60px 0 0 60px;
      width: 33.333333%;
      min-width: 0;
      box-sizing: border-box;
    }
  }
}
