@import '@/assets/scss/components/import/product-list.scss';

.nation {
  border-radius: 20px;
  padding: 22px 30px;

  &__sub {
    font-weight: 300;
    @include font-size-default(16);
  }
  &__title {
    margin-top: 4px;
    font-weight: 700;
    @include font-size-default(20);
  }

  &.finance01 {
    background: #f4f6fa url('@/assets/images/contents/img_micro_finance01.png')
      no-repeat right 30px top 22px/55px;
  }

  &.finance02 {
    background: #f4f6fa url('@/assets/images/contents/img_micro_finance02.png')
      no-repeat right 30px top 22px/55px;
  }
}
