@import '@/assets/scss/components/import/image-view.scss';

.ceo-layout {
  display: flex;

  &__item {
    & + & {
      margin-left: 60px;
    }

    &--flexible {
      flex: 1;
      min-width: 0;
    }
  }
}
