@import '@/assets/scss/components/import/product-list.scss';
@import '@/assets/scss/components/import/basic-list.scss';

.bg {
  padding: 80px 0px;
  background-color: $color-gray-15;
}

.contents {
  width: $contents-width-wide;
  margin: 0 auto;
}

.section-group {
  &::before {
    content: '';
    display: table;
  }

  &__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: -60px 0 0 -60px;
  }

  &__item {
    flex: none;
    width: 33.333333%;
    min-width: 0;
    padding: 60px 0 0 60px;
    box-sizing: border-box;
  }
}
