@import '@/assets/scss/components/import/product-list.scss';

.nation {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 25px 30px;
  background-color: $color-navy-05;

  &__contents {
    flex: 1;
    min-width: 0;
  }

  &__sub {
    font-weight: 300;
    @include font-size-default(16);
    margin-bottom: 4px;
  }

  &__title {
    font-weight: 700;
    @include font-size-default(20);
  }

  &__icon {
    flex: none;
    display: block;
    width: 144px;
    height: 106px;
    margin: -25px -30px -25px 0;
    background: no-repeat 50% 50% / 100% 100%;

    &--001 {
      background-image: url('@/assets/images/contents/sinarmas-finance.png');
    }
    &--002 {
      background-image: url('@/assets/images/contents/micro-finance.png');
    }
  }
}
