.page-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__head {
    flex: none;
  }

  &__body {
    flex: 1;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: $contents-width-default;
    margin: 0 auto;
  }

  &__foot {
    flex: none;
  }

  &--size {
    &-wide {
      .page-contents {
        &__body {
          width: $contents-width-wide;
        }
      }
    }
    &-large {
      .page-contents {
        &__body {
          width: $contents-width-large;
        }
      }
    }
    &-large-small {
      .page-contents {
        &__body {
          width: $contents-width-large-small;
        }
      }
    }
    &-max {
      .page-contents {
        &__body {
          width: $contents-width-max;
        }
      }
    }
    &-full {
      .page-contents {
        &__body {
          width: auto;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    &-default-small {
      .page-contents {
        &__body {
          width: $contents-width-default-small;
          padding: 30px;
        }
      }
    }
  }
}
