.banner {
  display: block;

  &__block {
    &.banner__block {
      padding: 30px 30px 58px;
    }
  }

  &__thumb {
    &.banner__thumb {
      margin: -30px -30px -58px 30px;
    }

    &-img {
      &.banner__thumb-img {
        width: 160px;
        height: 206px;
      }
    }
  }

  :global(.swiper-pagination-bullets) {
    position: absolute;
    z-index: 10;
    left: 30px;
    bottom: 30px;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  @include swiper-pagination-bullet;
}
