@import '@/assets/scss/components/import/basic-list.scss';

.flex-basic-wrap {
  &::before {
    content: '';
    display: table;
  }

  .flex-basic-list {
    margin: -20px 0 0 -20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;

    .flex-basic-item {
      flex: none;
      width: 50%;
      padding: 20px 0 0 20px;
      min-width: 0;
      box-sizing: border-box;
      display: flex;
      align-items: stretch;

      .flex-basic-box {
        width: 100%;
      }
    }

    .flex-basic-item-last {
      margin-left: 0;
      padding: 20px 0 0 20px;
      width: 100%;
    }
  }
}
