@import '@/assets/scss/components/import/board-search-bar.scss';
@import '@/assets/scss/components/import/qna.scss';
@import '@/assets/scss/components/import/empty.scss';

.nav {
  margin-bottom: 0;
}

.category {
  margin-top: 24px;
  margin-bottom: 0;
}
