@import '@/assets/scss/components/import/icon-list.scss';
@import '@/assets/scss/components/import/latest-list.scss';

.customer-layout {
  display: flex;

  &__section {
    flex: 1;
    min-width: 0;

    & + & {
      margin-left: 80px;
    }
  }
}

.homepage-guide-list {
  .icon-list {
    &__list {
      margin: -20px 0 0 -20px;
    }

    &__item {
      padding: 20px 0 0 20px;
    }
  }
}

.customer-links {
  &::before {
    content: '';
    display: table;
  }

  &__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    margin: -12px 0 0 -24px;
  }

  &__item {
    flex: none;
    padding: 12px 0 0 24px;
    box-sizing: border-box;
  }
}
