.agreement {
  display: flex;
  justify-content: space-between;
  height: 84px;
  padding: 27px 30px 27px 45px;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  background-color: $color-black;

  &__zoom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
  }

  &__function {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 77px;
  }

  &__guide {
    @include for-a11y;
  }

  &__button {
    @include reset-button;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 8px;
    background: #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;
  }

  &__link {
    @include reset-button;
    color: inherit;
    text-decoration: none;
    display: block;
    width: 34px;
    height: 34px;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    @include font-size-default(16);
    color: $color-white;
    text-align: center;
  }

  &__zoomtext {
    padding: 0 16px;
    @include font-size-default(16);
    color: $color-white;
  }

  &__icon {
    display: block;
    width: 34px;
    height: 34px;
  }

  &__zoomicon {
    display: block;
    width: 14px;
    height: 14px;
    * {
      fill: $color-black;
    }
  }

  &__item {
    flex: none;

    &--arrow {
      &-prev {
        padding-right: 4px;
      }

      &-next {
        padding-left: 4px;
      }

      .agreement {
        &__icon {
          width: 34px;
          height: 34px;

          * {
            fill: $color-gray-40;
          }
        }

        &__link {
          padding: 0;
          border-radius: 0;

          &[disabled] {
            cursor: default;

            .agreement__icon {
              * {
                fill: $color-gray-90;
              }
            }
          }
        }
      }
    }
  }
}
