.input {
  display: flex;
  align-items: center;

  &__cell {
    flex: 1;
    min-width: 0;
  }

  &__input {
    @include reset-input-text;
    width: 100%;
    @include font-size-head(20);
    letter-spacing: 0;
    font-weight: 500;
    height: #{$line-height-head}em;

    &,
    &--align-left {
      text-align: left;
    }
    &--align-center {
      text-align: center;
    }
    &--align-right {
      text-align: right;
    }

    &[disabled] {
      color: $color-gray-40;
      -webkit-text-fill-color: $color-gray-40;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-60;
    }
    &::-moz-placeholder {
      color: $color-gray-60;
    }
    &:-ms-input-placeholder {
      color: $color-gray-60;
    }
    &:-moz-placeholder {
      color: $color-gray-60;
    }
    &::placeholder {
      color: $color-gray-60;
    }
  }

  &__delete {
    @include reset-button;
    flex: none;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    position: relative;
    display: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      box-sizing: content-box;
      padding: 4px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-text {
      @include for-a11y;
    }
  }

  &--focus {
    &.input--inputed {
      .input__delete {
        display: block;
      }
    }
  }
}
