.box-check {
  flex: 1;
  min-width: 0;
  position: relative;
  display: flex;
  align-items: stretch;

  &__input {
    @include reset-input-check;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__block {
    flex: 1;
    min-width: 0;
    min-height: 59px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $color-gray-30;
    border-radius: 10px;
    padding: 16px 19px 16px;
    @include font-size-head(18);
    background-color: rgba($color-navy-50, 0);
    transition: border-color 0.2s, background-color 0.2s;
  }

  &__left {
    flex: none;
    margin-right: 8px;
  }

  &__right {
    flex: none;
    margin-left: 8px;
  }

  &__center {
    flex: 1;
    min-width: 0;
  }

  &__label {
    display: block;
    text-align: center;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &__object {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: #{$line-height-head}em;
    min-height: 24px;

    &-inner {
      flex: none;
      position: relative;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      border: 1px solid $color-gray-30;
      border-radius: 50%;
      background-color: $color-white;
      transition: border-color 0.2s, background-color 0.2s;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        border-radius: 50%;
        background-color: $color-white;
        opacity: 0;
        transition: opacity 0.2s;
      }

      svg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        margin: -12px 0 0 -12px;

        * {
          fill: $color-gray-40;
          transition: fill 0.2s;
        }
      }
    }
  }

  &__input {
    &:checked {
      & + .box-check__block {
        border-color: $color-navy-50;
        border-width: 2px;
        padding: 15px 18px 15px;

        .box-check__label {
          color: $color-navy-50;
          font-weight: 500;
        }

        .box-check__object {
          &-inner {
            border-color: $color-navy-50;
            background-color: $color-navy-50;

            &::before {
              opacity: 1;
            }
          }
        }
      }
    }

    &:focus-visible {
      & + .box-check__block {
        outline: 2px dotted;
      }
    }

    &:active {
      & + .box-check__block {
        background-color: rgba($color-navy-50, 0.2);
      }
    }

    &[disabled] {
      & + .box-check__block {
        .box-check__label {
          color: $color-gray-40;
        }

        .box-check__object {
          &-inner {
            border-color: $color-gray-30;
            background-color: $color-gray-20;

            &::before {
              background-color: $color-gray-40;
            }
          }
        }
      }
    }

    &[disabled]:checked {
      & + .box-check__block {
        border-color: $color-gray-30;
      }
    }

    &[disabled]:active {
      & + .box-check__block {
        background-color: transparent;
      }
    }
  }

  &--checkbox {
    .box-check__object {
      &-inner {
        border: none;
        border-radius: 0;
        background-color: transparent;
        transition: none;

        &::before {
          display: none;
        }
      }
    }

    .box-check__input {
      &:checked {
        & + .box-check__block {
          .box-check__object {
            &-inner {
              border-color: transparent;
              background-color: transparent;

              svg {
                * {
                  fill: $color-navy-50;
                }
              }
            }
          }
        }
      }

      &[disabled] {
        & + .box-check__block {
          .box-check__object {
            &-inner {
              border-color: transparent;
              background-color: transparent;

              svg {
                * {
                  fill: $color-gray-20;
                }
              }
            }
          }
        }
      }

      &[disabled]:checked {
        & + .box-check__block {
          .box-check__object {
            &-inner {
              svg {
                opacity: 0.3;

                * {
                  fill: $color-navy-50;
                }
              }
            }
          }
        }
      }

      &[disabled]:active {
        & + .box-check__block {
          background-color: transparent;
        }
      }
    }
  }

  &--contents {
    .box-check__block {
      padding: 23px;
      background-color: $color-white;
    }

    .box-check__label {
      text-align: left;
    }

    .box-check__input {
      &:checked {
        & + .box-check__block {
          padding: 22px;
        }
      }
    }
  }

  &--align-top {
    .box-check__block {
      align-items: flex-start;
    }
  }

  &--min-side {
    .box-check__block {
      padding-left: 7px;
      padding-right: 7px;
    }

    .box-check__input {
      &:checked {
        & + .box-check__block {
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }
  }
}
