.input {
  display: block;
  position: relative;

  &__dummy {
    display: flex;
    align-items: center;
    @include font-size-default(16);
    padding: 7px 11px 7px 15px;
    border-radius: 8px;
    border: 1px solid $color-gray-30;
    background-color: $color-white;
    outline: none;
    transition: border-color 0.2s;
  }

  &__text {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    @include font-size-default(16);
    height: #{$line-height-default}em;
  }

  &__icon {
    flex: none;
    margin-left: 8px;
    width: 24px;
    height: 24px;

    svg {
      display: block;
      width: 100%;
      height: 100%;

      > * {
        fill: $color-gray-50;
      }
    }
  }

  &--align {
    &-right {
      .input {
        &__text {
          text-align: right;
        }
      }
    }
  }

  &--disabled {
    .input {
      &__dummy {
        background-color: $color-gray-10;
      }

      &__text {
        color: $color-gray-60;
      }

      &__icon {
        svg {
          > * {
            fill: $color-gray-40;
          }
        }
      }
    }
  }

  &--focus {
    .input {
      &__dummy {
        border-width: 2px;
        border-color: $color-black;
        padding: 6px 10px 6px 14px;
      }
    }
  }

  &--error {
    .input {
      &__dummy {
        border-color: $color-semantic-essential;
      }
    }
  }

  :global {
    .duet-date,
    .duet-date__input-wrapper {
      position: static;
    }
    .duet-date__input {
      display: none;
    }
    .duet-date__toggle {
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 0;
      border: none;
      background: none;
      box-shadow: none;

      > * {
        opacity: 0;
      }

      &:focus-visible {
        outline: 1px dotted;
      }

      &[disabled] {
        cursor: default;
      }
    }
    .duet-date__dialog {
      z-index: 999999;
      position: fixed;
      left: -100%;

      html.is-date-picker-animated &,
      &.is-active {
        position: absolute;
        left: 0;
        z-index: 1010;
      }
    }

    @media (max-width: 35.9375em) {
      .duet-date__dialog {
        background-color: rgba(0, 0, 0, 0.5);

        html.is-date-picker-animated &,
        &.is-active {
          position: fixed;
        }
      }
    }
  }

  &--direction {
    &-right {
      :global {
        .duet-date__dialog {
          html.is-date-picker-animated &,
          &.is-active {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}
