.input {
  display: block;

  &__block {
    display: block;
  }

  &__input {
    @include reset-input-text;
    width: 100%;
    @include font-size-default(16);
    height: calc(40 / 16) * 1em;
    padding: 7px 15px;
    border-radius: 8px;
    border: 1px solid $color-gray-30;
    background-color: $color-white;
    outline: none;
    transition: border-color 0.2s;

    &,
    &--align-left {
      text-align: left;
    }
    &--align-center {
      text-align: center;
    }
    &--align-right {
      text-align: right;
      letter-spacing: 1px;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-60;
    }
    &::-moz-placeholder {
      color: $color-gray-60;
    }
    &:-ms-input-placeholder {
      color: $color-gray-60;
    }
    &:-moz-placeholder {
      color: $color-gray-60;
    }
    &::placeholder {
      color: $color-gray-60;
    }

    &[disabled] {
      color: $color-gray-60;
      -webkit-text-fill-color: $color-gray-60;
      background-color: $color-gray-10;

      &::-webkit-input-placeholder {
        color: $color-gray-40;
        -webkit-text-fill-color: $color-gray-40;
      }
      &::-moz-placeholder {
        color: $color-gray-40;
        -webkit-text-fill-color: $color-gray-40;
      }
      &:-ms-input-placeholder {
        color: $color-gray-40;
        -webkit-text-fill-color: $color-gray-40;
      }
      &:-moz-placeholder {
        color: $color-gray-40;
        -webkit-text-fill-color: $color-gray-40;
      }
      &::placeholder {
        color: $color-gray-40;
        -webkit-text-fill-color: $color-gray-40;
      }
    }

    &:focus {
      border-width: 2px;
      border-color: $color-black;
      padding: 6px 14px;
    }

    &[readonly] {
      background-color: $color-gray-10;
    }

    .input--error &,
    .input--error &:focus {
      border-color: $color-semantic-essential;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 8px;

    &-left {
      flex: 1;
      min-width: 0;
    }
  }

  &__count {
    flex: none;
    margin-left: 8px;
    @include font-size-default(12);
    color: $color-gray-60;

    &-current {
      transition: color 0.2s;
    }
  }

  &__help,
  &__invalid {
    margin-top: 0;
  }

  &--focus,
  &--inputed {
    .input__count-current {
      color: $color-black;
    }
  }

  &--disabled {
    .input__count,
    .input__count-current {
      color: $color-gray-40;
    }
  }
}
