.header-wrap {
  display: block;
}
.header-fake {
  display: block;
}
.header-fix {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: $page-min-width;
  min-height: 48px;
  box-sizing: border-box;
  padding: 12px 16px;
  background-color: $color-white;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
  }

  &__right {
    justify-content: flex-end;
  }

  &__center {
    display: flex;
    align-items: center;
    flex: none;
    /*
    max-width: 40%;

    @include media-mobile-small {
      max-width: 30%;
    }

    @include media-mobile-mini {
      max-width: 24%;
    }
    */
  }

  &__title {
    flex: 1;
    min-width: 0;
    margin: 0;
    @include font-size-default(16);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    @include reset-button;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    flex: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -6px;
      left: -6px;
      box-sizing: content-box;
      padding: 6px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }

    & + & {
      margin-left: 12px;
    }

    &-icon {
      display: block;
      width: 100%;
      height: 100%;

      * {
        fill: $color-black;
      }
    }

    &-text {
      @include for-a11y;
    }

    &--notice {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 1px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-semantic-essential;
      }
    }
  }
}
