.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  min-width: $page-min-width;
  box-sizing: border-box;

  &__head {
    flex: none;
  }

  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__foot {
    flex: none;
  }
}
