.footer-wrap {
  border-top: 1px solid $color-gray-30;
  background-color: $color-gray-15;
}

.footer {
  padding: 30px 20px 60px;
  width: $contents-width-max;
  margin: 0 auto;
  box-sizing: border-box;

  &__row {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 26px;
    }
  }

  &__cell {
    flex: none;

    & + & {
      margin-left: 60px;
    }

    &--flexible {
      flex: 1;
      min-width: 0;
    }
  }
}

.tel {
  margin: 0;
  display: flex;
  align-items: center;

  &__text {
    flex: none;
    display: block;
    @include font-size-head(18);
    font-weight: 700;
  }

  &__sub {
    flex: none;
    margin-left: 8px;
    display: block;
    @include font-size-default(14);
  }
}

.copy {
  margin: 0;
  display: block;
  font-style: normal;
  @include font-size-default(11);
  font-weight: 300;
}
