.test-component-wrap {
  margin: 50px 20px;
  padding-bottom: 50px;
}

.test-section {
  padding-top: 50px;

  & + & {
    margin-top: 30px;
  }

  &-title {
    margin: 0 0 20px;
    padding-bottom: 10px;
    @include font-size-default(22);
    border-bottom: 2px solid #888;
  }

  &-sub {
    &-title {
      margin: 0 0 10px;
      @include font-size-default(18);
    }
  }

  &-sub + &-sub {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px dashed #ccc;
  }

  &-copy {
    margin-top: 10px;
    display: none;

    &-code {
      display: none;
    }
    &-button {
      display: block;
    }
  }
}
