.basic-list {
  @include reset-list;

  &__item {
    display: flex;
    align-items: flex-start;
    @include font-size-default(14);
    font-weight: 300;
    color: $color-gray-70;
    padding: 0 12px;

    & + & {
      margin-top: 8px;
    }
  }

  &__symbol {
    flex: none;
    position: relative;
    display: block;
    height: #{$line-height-default}em;
    margin-right: 8px;

    &:empty {
      min-width: 2px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin: -1px 0 0 0;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: $color-gray-70;

        .basic-list__item:global(.color-black) > & {
          background-color: $color-black;
        }
        .basic-list__item:global(.color-green) > & {
          background-color: $color-green-50;
        }
        .basic-list__item:global(.color-red) > & {
          background-color: $color-semantic-essential;
        }
        .basic-list__item:global(.color-white) > & {
          background-color: $color-white;
        }
      }
    }
  }

  &__content {
    display: block;
    flex: 1;
    min-width: 0;
  }

  &--regular {
    > .basic-list__item {
      padding-left: 0;
      padding-right: 0;

      > .basic-list__symbol {
        &:empty {
          min-width: 3px;

          &::before {
            width: 3px;
            height: 3px;
          }
        }
      }
    }
  }

  /*
  &--medium-margin {
    > .basic-list__item {
      & + .basic-list__item {
        margin-top: 16px;
      }
    }
  }

  &--regular-margin {
    > .basic-list__item {
      & + .basic-list__item {
        margin-top: 12px;
      }
    }
  }

  &--normal-margin {
    > .basic-list__item {
      & + .basic-list__item {
        margin-top: 10px;
      }
    }
  }

  &--small-margin {
    > .basic-list__item {
      & + .basic-list__item {
        margin-top: 4px;
      }
    }
  }

  &--mini-margin {
    > .basic-list__item {
      & + .basic-list__item {
        margin-top: 2px;
      }
    }
  }

  &--fixed-width {
    > .basic-list__item {
      > .basic-list__symbol {
        min-width: 23px;
      }
    }
  }
  */
}
