.board-detail {
  border-top: 2px solid $color-gray-60;
  border-bottom: 1px solid $color-gray-20;

  &__head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-gray-30;

    &-cell {
      flex: none;
      padding: 24px 20px;
      box-sizing: border-box;
      @include font-size-default(16);
      color: $color-gray-70;

      &--title {
        flex: 1;
        min-width: 0;
      }
    }
  }

  &__title {
    margin: 0;
    @include font-size-head(18);
    font-weight: 500;
    color: $color-black;
  }

  &__contents {
    padding: 40px 20px 60px;

    &::before,
    &::after {
      content: '';
      display: table;
    }
  }

  &__foot {
    padding: 24px 20px;
    border-top: 1px solid $color-gray-20;
  }
}
