.check-list {
  &::before {
    content: '';
    display: table;
  }

  &__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    margin: -24px 0 0 -24px;
  }

  &__item {
    flex: none;
    padding: 24px 0 0 24px;
  }
}
