.division-info {
  display: block;

  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
  }

  &__item {
    min-width: 0;

    & + & {
      position: relative;
      padding-left: 13px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 6px;
        margin-top: -6px;
        width: 1px;
        height: 12px;
        background-color: $color-gray-30;
      }
    }

    & + &--small {
      position: relative;
      padding-left: 17px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 8px;
        margin-top: -6px;
        width: 1px;
        height: 12px;
        background-color: $color-gray-30;
      }
    }
  }
}
