div.icon-list__block {
  cursor: default;
}

.icon-list {
  display: block;

  &__list {
    @include reset-list;
    display: block;
  }

  &__item {
    display: block;

    & + & {
      margin-top: 24px;
    }
  }

  &__block {
    @include reset-button;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

  &__icon {
    display: block;
    flex: none;
    width: 60px;
    height: 60px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: $color-gray-10;
    overflow: hidden;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-secondary {
      padding: 0;
    }
  }

  &__content {
    display: block;
    flex: 1;
    min-width: 0;
  }

  &__icon + &__content {
    margin-left: 20px;
  }

  &__title {
    display: block;
    margin: 0;
    @include font-size-head(18);
    font-weight: 500;

    & + .icon-list__text {
      margin-top: 4px;
    }
  }

  &__text {
    display: block;
    margin: 0;
    @include font-size-default(15);
    font-weight: 400;
    color: $color-gray-60;

    & + .icon-list__title {
      margin-top: 4px;
    }
  }

  &__etc {
    flex: none;
    display: block;
    margin-left: 20px;
  }

  &--wrap {
    &::before {
      content: '';
      display: table;
    }

    .icon-list {
      &__list {
        display: flex;
        margin: -30px 0 0 -30px;
        flex-wrap: wrap;
      }

      &__item {
        flex: none;
        width: 50%;
        box-sizing: border-box;
        padding: 30px 0 0 30px;
        min-width: 0;

        & + .icon-list__item {
          margin-top: 0;
        }
      }
    }
  }

  &--col {
    &-3 {
      .icon-list {
        &__item {
          width: 33.333333%;
        }
      }
    }
  }

  &--bg-none {
    .icon-list__icon {
      background-color: transparent;
    }
  }
}
