.join {
  margin-top: 40px;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__icon {
    flex: none;
    width: 48px;
    height: 48px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    flex: 1;
    min-width: 0;
    margin: 0 12px;
    @include font-size-head(18);
    font-weight: 500;
  }

  &__link {
    flex: none;
    width: auto;
  }

  &__button {
    @include reset-button;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
