.loading-icon {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px 1px 2px 3px;
    border: 2px solid $color-white;
    border-right-color: rgba($color-white, 0.5);
    border-radius: 100%;
    animation: spin 800ms infinite linear;
    box-sizing: border-box;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
