.logs {
  @include reset-list;

  &__item {
    & + & {
      margin-top: 20px;
    }
  }

  /*
  &--margin {
    &-small {
      .logs__item {
        & + .logs__item {
          margin-top: 8px;
        }
      }
    }

    &-regular {
      .logs__item {
        & + .logs__item {
          margin-top: 16px;
        }
      }
    }
  }
  */

  &__block {
    position: relative;
    padding: 23px;
    border: 1px solid $color-gray-20;
    border-radius: 8px;
    box-sizing: border-box;

    /*
    &--secondary {
      border-color: $color-gray-30;
    }

    &--small {
      padding: 13px 16px 12px 16px;
    }

    &--regular {
      padding: 15px;
    }
    */
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__contents {
    flex: 1;
    min-width: 0;
  }

  &__right {
    flex: none;
    margin-left: auto;
    padding-left: 8px;
  }

  &__title {
    margin: 0;
    @include font-size-default(18);
    font-weight: 500;
  }

  &__link {
    @include reset-button;
    display: block;
    width: 20px;
    height: 20px;
    background: url('/src/assets/images/icon/link.svg') no-repeat 50% 50%/ 100% 100%;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0);
    }

    &-text {
      @include for-a11y;
    }
  }

  &__button {
    position: relative;
    z-index: 11;
  }
}
