.not-table {
  margin: 0;
  padding: 32px 0;
  background-color: $color-gray-05;
  border-radius: 8px;
  color: $color-gray-90;
  @include font-size-default(13);
  font-weight: 300;
  text-align: center;
}
