.notice-list {
  border-top: 2px solid $color-gray-60;
  &__list {
    @include reset-list;
  }
  &__item {
    border-bottom: 1px solid $color-gray-30;
  }

  &__link {
    display: flex;
    width: 100%;
    padding: 21px 29px 21px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: $color-black;
  }
  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin: 0;
    @include font-size-default(16);
    font-weight: 500;
  }
  &__date {
    display: block;
    flex: 1;
    margin: 0 0 0 20px;
    @include font-size-default(14);
    text-align: center;
    color: $color-gray-70;
  }
}
