.product-list {
  &::before {
    content: '';
    display: table;
  }

  &__list {
    @include reset-list;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -20px 0 0 -20px;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    padding: 20px 0 0 20px;
    width: 100%;
  }

  &__block {
    @include reset-button;
    position: relative;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    padding: 40px 24px;
    border-radius: 12px;
    background-color: $color-navy-05;
    text-align: center;
    text-decoration: none;

    &--secondary {
      background-color: $color-green-40;
    }

    &--tertiary {
      background-color: $color-orange-60;
    }

    &--quaternary {
      background-color: $color-blue-40;
    }

    &--quinary {
      background-color: $color-purple-60;
    }

    &--senary {
      background-color: $color-navy-50;
    }

    &--septenary {
      background-color: $color-gray-05;
    }

    &--octonary {
      background-color: $color-white;
    }

    &--nonary {
      border: 1px solid $color-gray-20;
      background-color: $color-white;
    }

    &--flex-column {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;

      .product-list__text {
        margin-bottom: 20px;
      }
    }
  }

  div.product-list__block {
    cursor: default;
  }

  &__icon {
    width: 64px;
    height: 64px;
    margin: 0 auto 16px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin: 0 0 8px;
    @include font-size-head(24);
  }

  &__text {
    margin: 0;
    @include font-size-default(16);
    color: $color-gray-80;
  }

  &__link {
    font-size: 0;
    line-height: 0;
    margin-top: 20px;
    padding: 2px 0;
  }

  &__link-button {
    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &__etc {
    display: block;
    margin: auto -24px 0 -24px;
    padding: 10px;
    @include font-size-default(14);
    color: $color-white;
    font-weight: 400;
    text-align: center;
    background-color: rgba($color-white, 0.25);
    box-sizing: border-box;
  }

  &--col {
    &-2 {
      .product-list {
        &__item {
          width: 50%;
        }
      }
    }

    &-3 {
      .product-list {
        &__item {
          width: 33.333333%;
        }
      }
    }

    &-4 {
      .product-list {
        &__item {
          width: 25%;
        }
      }
    }

    &-5 {
      .product-list {
        &__item {
          width: 20%;
        }
      }
    }
  }
}
