.product-top {
  margin-top: -80px;
  padding: 80px 0;
  background-color: $color-navy-05;

  &__contents {
    width: $contents-width-wide;
    margin: 0 auto;
  }

  &__head {
    margin-bottom: 20px;
  }

  &__sub-text {
    margin: 0 0 16px;
    @include font-size-head(20);
    font-weight: 500;
    color: $color-gray-60;
    text-align: center;
  }

  &__main-text {
    margin: 0;
    @include font-size-head(36);
    font-weight: 700;
    text-align: center;
  }

  &__main-sub-text {
    margin: 16px 0 0;
    @include font-size-head(24);
    font-weight: 500;
    color: $color-gray-80;
    text-align: center;
  }

  &__image {
    width: 644px;
    height: 260px;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
