.searchList__wrap {
  padding: 20px 0;
  border-top: 2px solid $color-gray-60;
  border-bottom: 1px solid $color-gray-20;
}
.searchList-secondary {
  @include reset-list;
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      background: $color-black;
      border-radius: 50%;
    }
    & + & {
      margin-top: 12px;
    }
  }
  &__link {
    @include reset-button;
    text-decoration: none;
    color: inherit;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }
  &__text {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    i {
      width: 18px;
      height: 18px;
    }
  }
  mark {
    color: $color-green-50;
    background-color: transparent;
  }
}
