.select-list {
  display: block;

  &__list {
    @include reset-list;
  }

  &__item {
    border: 1px solid $color-gray-20;
    border-radius: 10px;

    & + & {
      margin-top: 20px;
    }
  }

  &__head {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 23px 19px;
  }

  &__title {
    flex: 0 1 auto;
    min-width: 0;
    @include font-size-head(18);
    font-weight: 500;
  }

  &__right {
    flex: none;
    margin-left: auto;
    padding-left: 8px;
    display: flex;
    align-items: center;
    @include font-size-default(16);
    min-height: #{$line-height-default}em;
  }

  &__opener {
    flex: none;
    margin-left: 10px;
    position: static;

    &:only-child {
      margin-left: 0;
    }

    &::before {
      padding: 0;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  &__contents {
    padding: 24px 19px;
    border-top: 1px solid $color-gray-20;
  }
}
