.upload-button {
  position: relative;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-sizing: border-box;
    cursor: pointer;

    &[disabled] {
      cursor: default;

      & + .upload-button__block {
        &::after {
          background-image: url('@/assets/images/icon/add-disabled.svg');
        }

        .upload-button__img {
          opacity: 0.5;
        }

        .upload-button__label {
          color: $color-gray-40;
          cursor: default;
        }
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    padding: 23px;
    border: 1px solid $color-gray-30;
    border-radius: 10px;
    box-sizing: border-box;

    &::after {
      content: '';
      flex: none;
      width: 50px;
      height: 24px;
      padding-left: 16px;
      margin-left: auto;
      background: url('@/assets/images/icon/add-black.svg') no-repeat 29px 50% /
        auto 100%;
    }
  }

  &__img {
    flex: none;

    svg {
      display: block;
      width: 48px;
      height: 48px;
    }

    & + .upload-button__label {
      margin-left: 16px;
    }
  }

  &__label {
    flex: 0 1 auto;
    min-width: 0;
    display: block;
    @include font-size-default(18);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
  }
}
