.box {
  padding: 23px;
  border-radius: 10px;
  border: 1px solid $color-gray-20;

  &--theme {
    &-secondary {
      border-color: $color-white;
      background-color: $color-white;
    }

    &-tertiary {
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-quaternary {
      padding: 17px 19px;
    }

    &-quinary {
      border-color: $color-gray-30;
      background-color: $color-white;
    }

    /*
    &-senary {
    }

    &-septenary {
    }
    */
  }
}
