.box {
  padding: 23px;
  border-radius: 10px;
  border: 1px solid $color-gray-20;

  &--theme {
    &-secondary {
      border-color: $color-white;
      background-color: $color-white;
    }

    &-tertiary {
      border-color: $color-gray-05;
      background-color: $color-gray-05;
    }

    &-quaternary {
      padding: 40px 23px 44px;
      border-color: $color-green-40;
      background-color: $color-green-40;
    }

    &-quinary {
      padding: 40px 23px 44px;
      border-color: $color-blue-50;
      background-color: $color-blue-50;
    }

    &-senary {
      padding: 40px 23px 44px;
      border-color: $color-navy-50;
      background-color: $color-navy-50;
    }

    /*
    &-septenary {
    }
    */
  }
}
