.bank-logo {
  display: block;
  position: relative;
  width: 60px;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--size-small {
    width: 24px;
  }

  &--background {
    width: 56px;
    background-color: $color-gray-10;
    border-radius: 19px;
    box-sizing: border-box;

    .bank-logo__img {
      width: 42px;
      height: 42px;
      margin: 7px;
    }
  }
}
