.car-emblem {
  display: block;
  position: relative;
  width: 24px;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--size {
    &-medium {
      width: 60px;
    }
  }

  &:empty,
  &:global(.is-error) {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('@/assets/images/common/emblem-default.svg') no-repeat 50%
        50% / 100% 100%;
    }

    .car-emblem {
      &__img {
        display: none;
      }
    }
  }
}
