table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  &.cur-p {
    td {
      cursor: pointer;
    }
  }

  &.off {
    display: none;
  }

  .flex-container {
    &.cDisabled {
      font-size: 12px;
    }
  }

  tr {
    &.on {
      display: table-row !important;
    }
  }

  &.table-type-01 {
    border-top: 2px solid $color-gray-60;
    margin-bottom: 60px;

    .hoverBgGray:hover {
      background-color: rgba(20, 59, 117, 0.08);
    }

    & + .title {
      margin-bottom: 20px;
    }

    &:first-child {
      & + .title {
        margin-bottom: 20px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.none-bottom {
      margin-bottom: 0;
    }

    &.body {
      border-top: none;
    }

    tr {
      &.on {
        display: table-row !important;
      }
    }

    td {
      padding: 16px;
      color: $color-black;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;

      &.on {
        background-color: rgba($color-navy-50, 0.08);
      }

      &.warning {
        color: $color-semantic-essential;
        border-bottom: none;
      }

      &.title {
        color: $color-gray-70;
        background-color: $color-gray-10;
        border-bottom: 1px solid $color-gray-30;
        border-left: 1px solid $color-gray-30;
        border-right: 1px solid $color-gray-30;

        &:first-child {
          border-left: none;
        }

        &.required {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            margin-left: 4px;
            width: 4px;
            height: 4px;
            background-color: $color-semantic-essential;
            border-radius: 50%;
          }
        }
      }

      &.h-72 {
        height: 72px;
      }

      &.h-150 {
        height: 150px;
      }

      &.txt {
        &-center {
          text-align: center;
        }

        &-left {
          text-align: left;
        }

        &-right {
          text-align: right;
        }
      }

      &:last-child {
        border-right: none;
      }

      &.bdr {
        &:last-child {
          border-right: 1px solid $color-gray-30;
        }
      }

      &.nbrl {
        border-left: none;
      }
    }

    th {
      font-weight: normal;
      color: $color-gray-70;
      padding: 12px;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  &.table-type-02 {
    margin-bottom: 24px;

    td {
      padding: 10px;
      color: $color-black;

      &.title {
        color: $color-gray-60;

        &:first-child {
          border-left: none;
        }

        &.required {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            margin-left: 4px;
            width: 4px;
            height: 4px;
            background-color: $color-semantic-essential;
            border-radius: 50%;
          }
        }
      }

      &.h-72 {
        height: 72px;
      }

      &.h-150 {
        height: 150px;
      }

      &.txt {
        &-center {
          text-align: center;
        }

        &-left {
          text-align: left;
        }

        &-right {
          text-align: right;
        }
      }

      &:last-child {
        border-right: none;
      }

      &.bdr {
        &:last-child {
          border-right: 1px solid $color-gray-30;
        }
      }
    }

    th {
      font-weight: normal;
      color: $color-gray-70;
      padding: 16px;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;

      &:last-child {
        border-right: none;
      }
    }
  }

  &.table-type-03 {
    margin-bottom: 24px;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    border-style: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0 1px $color-gray-30;

    tr {
      &:last-child {
        .flex-container {
          border-bottom: none;
        }
      }
    }

    td {
      color: $color-black;

      > .flex-container {
        width: calc(100% - 40px);
        padding: 20px 0;
        margin: 0 20px;
        border-bottom: 1px solid $color-gray-30;
      }

      &.title {
        color: $color-gray-60;

        &:first-child {
          border-left: none;
        }

        &.required {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            margin-left: 4px;
            width: 4px;
            height: 4px;
            background-color: $color-semantic-essential;
            border-radius: 50%;
          }
        }
      }

      &.h-72 {
        height: 72px;
      }

      &.txt {
        &-center {
          text-align: center;
        }

        &-left {
          text-align: left;
        }

        &-right {
          text-align: right;
        }
      }

      &:last-child {
        border-right: none;
      }

      &.bdr {
        &:last-child {
          border-right: 1px solid $color-gray-30;
        }
      }
    }

    th {
      font-weight: normal;
      color: $color-gray-70;
      padding: 16px;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;

      &:last-child {
        border-right: none;
      }
    }
  }

  &.table-type-04 {
    margin-bottom: 40px;
    border-top: 2px solid $color-gray-60;

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.none-bottom {
      margin-bottom: 0;
    }

    &.body {
      border-top: none;
    }

    tr {
      &.on {
        td {
          background-color: rgba($color-navy-50, 0.08);
        }
      }
    }

    td {
      padding: 0 16px;
      color: $color-black;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;
      height: 58px;
      max-height: 58px;

      &.on {
        background-color: rgba($color-navy-50, 0.08);
      }

      .date {
        color: $color-gray-60;
      }

      &.title {
        color: $color-gray-70;
        background-color: $color-gray-10;
        border-bottom: 1px solid $color-gray-30;
        border-left: 1px solid $color-gray-30;
        border-right: 1px solid $color-gray-30;

        &:first-child {
          border-left: none;
        }

        &.required {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            margin-left: 4px;
            width: 4px;
            height: 4px;
            background-color: $color-semantic-essential;
            border-radius: 50%;
          }
        }
      }

      &.none-border {
        padding: 100px 0;
        border: none;
      }

      &.h-72 {
        height: 72px;
      }

      &.txt {
        &-center {
          text-align: center;
        }

        &-left {
          text-align: left;
        }

        &-right {
          text-align: right;
        }
      }

      &:last-child {
        border-right: none;
      }

      &.bdr {
        &:last-child {
          border-right: 1px solid $color-gray-30;
        }
      }
    }

    th {
      font-weight: normal;
      color: $color-gray-70;
      padding: 12px;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  &.table-type-05 {
    margin-bottom: 40px;
    border-top: 2px solid $color-gray-60;

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.none-bottom {
      margin-bottom: 0;
    }

    &.body {
      border-top: none;
    }

    tr {
      &.on {
        td {
          background-color: rgba($color-navy-50, 0.08);
        }
      }
    }

    td {
      padding: 16px 20px;
      height: 70px;
      max-height: 70px;
      text-overflow: ellipsis;
      overflow: hidden;
      color: $color-black;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;
      vertical-align: middle;

      > div {
        width: 100%;
        max-height: 37px;
        overflow: hidden;
        line-height: 140%;
      }

      &.on {
        background-color: rgba($color-navy-50, 0.08);
      }

      .date {
        color: $color-gray-60;
      }

      &.title {
        color: $color-gray-70;
        background-color: $color-gray-10;
        border-bottom: 1px solid $color-gray-30;
        border-left: 1px solid $color-gray-30;
        border-right: 1px solid $color-gray-30;

        &:first-child {
          border-left: none;
        }

        &.required {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            margin-left: 4px;
            width: 4px;
            height: 4px;
            background-color: $color-semantic-essential;
            border-radius: 50%;
          }
        }
      }

      &.none-border {
        padding: 100px 0;
        border: none;
      }

      &.h-72 {
        height: 72px;
      }

      &.txt {
        &-center {
          text-align: center;
        }

        &-left {
          text-align: left;
        }

        &-right {
          text-align: right;
        }
      }

      &:last-child {
        border-right: none;
      }

      &.bdr {
        &:last-child {
          border-right: 1px solid $color-gray-30;
        }
      }
    }

    th {
      font-weight: normal;
      color: $color-gray-70;
      padding: 12px;
      border-bottom: 1px solid $color-gray-30;
      border-right: 1px solid $color-gray-30;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  &.table-type-search {
    border-collapse: separate;
    border-spacing: 0 16px;
    font-size: 16px;
    margin-bottom: 20px;

    tr {
      &:first-child {
        td {
          padding-top: 0px;
          &.title {
            &:after {
              content: '';
              position: absolute;
              background-color: $color-black;
              width: 4px;
              height: 4px;
              left: -4px;
              top: calc(50% - 8px);
              transition: transformY(-50%);
              border-radius: 50%;
            }
          }
        }
      }
    }

    td {
      padding: 8px;
      position: relative;

      &.title {
        &:after {
          content: '';
          position: absolute;
          background-color: $color-black;
          width: 4px;
          height: 4px;
          left: -4px;
          top: calc(50% - 2px);
          transition: transformY(-50%);
          border-radius: 50%;
        }
        padding-right: 8px;

        &:nth-child(2n) {
          padding-right: 8px;
        }
      }

      &:nth-child(2n) {
        padding-right: 40px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &.none-search {
    td {
      padding: 200px 0;
      text-align: center;
      font-size: 14px;
      color: $color-black;
      font-weight: 300;

      &:last-child {
        border-right: none;
        border-left: none;
      }
    }

    &-small {
      td {
        padding: 50px 0;
        text-align: center;
      }
    }
  }
}
