.key-value {
  display: block;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    @include font-size-default(16);

    & + & {
      margin-top: 16px;
    }
  }

  &__key {
    flex: none;
    margin-right: 16px;
    color: $color-gray-60;
  }

  &__value {
    flex: 1;
    min-width: 0;
    text-align: right;
    margin: 0;
  }

  &--align {
    &-left {
      .key-value__value {
        text-align: left;
      }
    }
  }

  &--vertical-align {
    &-center {
      .key-value__item {
        align-items: center;
      }
    }
  }

  &--direction {
    &-vertical {
      .key-value__item {
        display: block;

        .key-value__key {
          margin-right: 0;
          @include font-size-default(14);
        }

        .key-value__value {
          margin-top: 8px;
          text-align: left;
        }
      }
    }
  }

  &--wrap {
    &::before {
      content: '';
      display: table;
    }

    .key-value {
      &__list {
        margin: -16px 0 0 -30px;
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        flex: none;
        width: 50%;
        padding: 16px 0 0 30px;
        box-sizing: border-box;

        & + .key-value__item {
          margin-top: 0;
        }
      }
    }
  }

  &--col-3 {
    &::before {
      content: '';
      display: table;
    }

    .key-value {
      &__list {
        margin: -16px 0 0 -30px;
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        flex: none;
        width: 33.333333%;
        padding: 16px 0 0 30px;
        box-sizing: border-box;

        & + .key-value__item {
          margin-top: 0;
        }
      }
    }
  }

  &--margin {
    &-small {
      .key-value__item {
        & + .key-value__item {
          margin-top: 6px;
        }
      }

      /* 디자인 정의가 아직 없어서 주석처리
      &.key-value--wrap {
        .key-value {
          &__list {
            margin-top: -6px;
            margin-left: -16px;
          }

          &__item {
            padding-top: 6px;
            padding-left: 16px;

            & + .key-value__item {
              margin-top: 0;
            }
          }
        }
      }
      */
    }
    &-regular {
      .key-value__item {
        & + .key-value__item {
          margin-top: 24px;
        }
      }

      /* 디자인 정의가 아직 없어서 주석처리
      &.key-value--wrap {
        .key-value {
          &__list {
            margin-top: -24px;
            margin-left: -40px;
          }

          &__item {
            padding-top: 24px;
            padding-left: 40px;

            & + .key-value__item {
              margin-top: 0;
            }
          }
        }
      }
      */
    }
  }

  &--size {
    &-small {
      .key-value__key {
        width: 34px;
      }
    }

    &-regular {
      .key-value__key {
        width: 48px;
      }
    }

    &-medium {
      .key-value__key {
        width: 72px;
      }
    }
  }
}
