.page-title {
  margin: 0 0 30px;
  @include font-size-head(32);
  font-weight: 700;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  &--align {
    &-left {
      text-align: left;
    }
  }
}
